 /* Bordered form */

 body{
    
    background-image:url(images/delivery.png)
}
/* Styling The Navbar */
.navbar{
	overflow: hidden;
    background-color: #e9e9e9;	
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
    background-color: #ddd;
	color: black;
}


h2{ text-align:center; 
    color: green;
}


 form {
    border: 3px solid #f1f1f1;

}

.login_area{
    background-color: #ffffff;
	width: 30%;
	height: 400px;
	margin: 5% auto auto;
	border-radius: 10px;
    overflow:hidden;
    box-sizing: border-box
    
}

.welcome{
    color:green;
    text-align: center
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: green;
    text-align: center;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius:15px
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}



/* Add padding to containers */
.container {
    padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
        
    }
}

@media screen and (max-width: 800px) {

    .login_area{
        width: 70%;
    }
}

@media screen and (max-width: 500px) {

    .login_area{
        width: 90%;
        height: 400px;

        
    }    
} 