 /* Bordered form */
body{
    
    background-image: url("../images/delivery.png")

}
h1, h3{ text-align:center; 
    color:white;
}

 form {
    border: 3px solid #f1f1f1;

}

.login_area{
    background-color: #ffffff;
	width: 40%;
	height: 300px;
	margin: 10% auto auto;
	border-radius: 10px;
    overflow:hidden;
    box-sizing: border-box
    
}

.welcome{
    color: green;
    text-align: center
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius:15px
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

.forgot{
    float: right;
    padding-top: 16px;
    color:black; 
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    
    }


@media screen and (max-width: 800px) {

    .login_area{
        width: 70%;
    }
}

@media screen and (max-width: 500px) {

    .login_area{
        width: 90%;
        height: 400px;

        
    }    
}

